[Unit]
Description=Rotation timer of log files
Documentation=man:logrotate(8) man:logrotate.conf(5)

[Timer]
OnCalendar={{ logrotate_timer_oncalendar }}
AccuracySec={{ logrotate_timer_accuracysec }}
Persistent=true

[Install]
WantedBy=timers.target
